<%-include('partials/header.ejs'); %>
<body>

    <%-include('partials/homenavbar.ejs'); %>
   

    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Bem vindo </h1>
        <p class="lead">Blog dos programadores</p>
        <hr class="my-4">
        <p>Seja um programador voce tambem</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
      <hr>
      <%articles.forEach((article) => {%>
        <div class="card mb-4">
          <div class="card-header">
            <h2><%=article.title%></h2>
          </div>
          <div class="card-body">
            <a class="btn btn-success" href="<%=article.slug%>">Teste e mudanca</a>
          </div>
        </div>
       <%}) %>     
    </div>

   
   

</body>
<%-include('partials/footer.ejs'); %>

